@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #b6ba5d;
  --secondary: #78cdef;
  --accent: #4ffd49;
  --text: #1d0f00;
  --background: #fff9f1;
}

html {
  font-size: 16px;
  color: var(--text);
  background: var(--background);
}
