@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2d96e7;
  --secondary: #b28fec;
  --accent: #ec536f;
  --text: #01060a;
  --background: #eff8fd;
}

html {
  font-size: 16px;
  color: var(--text);
  background: var(--background);
}

@layer base {
  * {
    @apply m-0 box-border p-0;
  }
}
